html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.light-theme {
    --bgColor: #ffffff;
    --fontColor: #17223b;
    --importantFontColor: #f54291;
}

.dark-theme {
    --bgColor: #17223b;
    --fontColor: #ffffff;
    --importantFontColor: #ff6768;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 5%;
    background-color: var(--bgColor);
    color: var(--fontColor);
}

.sun {
    margin: 0 7px
}

.moon, .sun {
   width: 17px;
   height: 17px;
   fill:var(--fontColor);
}

.home, .about, .skills {
    height: 100vh;
}

.home {
    font-size: 2.5rem;
    max-width: 900px;
    padding: 120px 100px;
}

h2 {
    font-size: 1.25rem;
}

nav {
    margin: 0;
    font-size: 1.1rem;
    background-color: var(--bgColor);
}

h1 {
    font-size: 3.5rem;
}

.arrow {
    margin-left: 0.25em;
    font-size: 2rem;
    text-decoration: none;
    color: var(--importantFontColor);
}

.arrow:hover {
    transform: translateX(5px);
    text-decoration: none;
    color: var(--importantFontColor);
    filter: brightness(100%);
}

.p-container {
    max-width: 650px;
    font-size: 1.1rem;
}

.table-container {
    max-width: 650px;
}

.project-list {
    max-width: 650px;
}

.coca, .music-note {
    width: 25px;
    height: 25px;
    fill: var(--importantFontColor);
}

.contact {
    font-size: 1rem;
}

.section-title {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1.75rem;
    color: var(--importantFontColor);
}

.tag {
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: var(--importantFontColor);
    border: 2px solid var(--importantFontColor);
    text-transform: uppercase;
}

.project-description {
    line-height: 1.5;
    margin-bottom: 0;
}

.projects {
    padding-top: 20vh;
    margin: 0;
}

a {
    color: var(--importantFontColor);
}

.table {
    color: var(--fontColor);
}

a:hover {
    color: var(--importantFontColor);
    filter: brightness(60%);
    text-decoration: none;   
}

.custom-control-input {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
    border-color: var(--importantFontColor);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

footer {
    margin-top: 20rem;
}

@media screen and (max-width: 768px) {
    .home {
        font-size: 1.5rem;
        max-width: 300px;
        padding: 40px 30px;
    }
    .home h1 {
        font-size: 1.5rem;
    }
    .coca, .music-note {
        width: 15px;
        height: 15px;
    }
    .powered {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 460px) {
    .tag {
        font-size: 0.5rem;
    }
}