body{
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 5%;
}

.sun{
    width: 17px;
    height: 17px;
    background: url("../img/sun.svg") no-repeat center;
    background-size: 100%;
    margin: 0 7px
}

.moon{
   width: 17px;
   height: 17px;
   background: url("../img//moon.svg") no-repeat center;
   background-size: 100%;
}

.home, .about, .skills{
    height: 100vh;
}

.home{
    font-size: 2.5rem;
    max-width: 900px;
    padding: 120px 100px;
}

h2{
    font-size: 1.25rem;
}

nav{
    margin: 0 5%;
    font-size: 1.25rem;
}

.test{
    align-items: center;
}

.waving-hand{
    margin-left: 10px;
}

.arrow{
    margin-left: 0.25em;
    font-size: 2rem;
    text-decoration: none;
}

.arrow:hover{
    transform: translateX(5px);
    text-decoration: none;
}

.resume{
    margin-left: 0.25em;
}

.p-container{
    max-width: 650px;
}

.table-container{
    max-width: 650px;
}

.project-list{
    max-width: 650px;
}

.music-note{
    background: url("../img/musicNote.svg") no-repeat center;
    width: 17px;
    height: 17px;
}

.coffee{
    background: url("../img/coffee.svg") no-repeat center;
    width: 17px;
    height: 17px;
}

.contact{
    font-size: 1rem;
}